WebApi/TenantsAssociation/.vs/TenantsAssociation/config/applicationhost.config
WebApi/TenantsAssociation/.vs/TenantsAssociation/DesignTimeBuild/.dtbcache
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/.suo
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/db.lock
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/.suo
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/db.lock
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide-shm
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide-wal
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/appsettings.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.deps.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.exe
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.pdb
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.runtimeconfig.dev.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.runtimeconfig.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WebApi/TenantsAssociation/obj/project.assets.json
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.cache
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.dgspec.json
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.g.props
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.g.targets
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.AssemblyInfo.cs
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.AssemblyInfoInputs.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.assets.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.csproj.FileListAbsolute.txt
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.csprojAssemblyReference.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.dll
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.exe
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.MvcApplicationPartsAssemblyInfo.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.pdb
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.RazorTargetAssemblyInfo.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/staticwebassets/TenantsAssociation.StaticWebAssets.Manifest.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/staticwebassets/TenantsAssociation.StaticWebAssets.xml
WebApi/TenantsAssociation.DataAccess/obj/project.assets.json
WebApi/TenantsAssociation.DataAccess/obj/TenantsAssociation.DataAccess.csproj.nuget.cache
WebApi/TenantsAssociation.DataAccess/obj/TenantsAssociation.DataAccess.csproj.nuget.dgspec.json
WebApi/TenantsAssociation.DataAccess/obj/TenantsAssociation.DataAccess.csproj.nuget.g.props
WebApi/TenantsAssociation.DataAccess/obj/TenantsAssociation.DataAccess.csproj.nuget.g.targets
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.AssemblyInfo.cs
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.AssemblyInfoInputs.cache
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.assets.cache
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.csproj.CopyComplete
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.csproj.FileListAbsolute.txt
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.csprojAssemblyReference.cache
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.dll
WebApi/TenantsAssociation.DataAccess/obj/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.pdb
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.pdb
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.pdb
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.csproj.CopyComplete
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.dll
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.pdb
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.deps.json
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.dll
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.pdb
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.runtimeconfig.dev.json
WebApi/TenantsAssociation.DataAccess/bin/Debug/netcoreapp3.1/TenantsAssociation.DataAccess.runtimeconfig.json
WebApi/TenantsAssociation.ApplicationLogic/obj/project.assets.json
WebApi/TenantsAssociation.ApplicationLogic/obj/TenantsAssociation.ApplicationLogic.csproj.nuget.cache
WebApi/TenantsAssociation.ApplicationLogic/obj/TenantsAssociation.ApplicationLogic.csproj.nuget.dgspec.json
WebApi/TenantsAssociation.ApplicationLogic/obj/TenantsAssociation.ApplicationLogic.csproj.nuget.g.props
WebApi/TenantsAssociation.ApplicationLogic/obj/TenantsAssociation.ApplicationLogic.csproj.nuget.g.targets
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.AssemblyInfo.cs
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.AssemblyInfoInputs.cache
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.assets.cache
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.csproj.FileListAbsolute.txt
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.csprojAssemblyReference.cache
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.dll
WebApi/TenantsAssociation.ApplicationLogic/obj/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.pdb
WebApi/TenantsAssociation.ApplicationLogic/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.deps.json
WebApi/TenantsAssociation.ApplicationLogic/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.dll
WebApi/TenantsAssociation.ApplicationLogic/bin/Debug/netcoreapp3.1/TenantsAssociation.ApplicationLogic.pdb
WebApi/TenantsAssociation.ApplicationLogic/obj/project.nuget.cache
WebApi/TenantsAssociation.DataAccess/obj/project.nuget.cache
WebApi/TenantsAssociation/obj/project.nuget.cache
