WebApi/TenantsAssociation/.vs/TenantsAssociation/config/applicationhost.config
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/.suo
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/db.lock
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide-shm
WebApi/TenantsAssociation/.vs/TenantsAssociation/v16/Server/sqlite3/storage.ide-wal
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/appsettings.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.deps.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.dll
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.exe
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.pdb
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.runtimeconfig.dev.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/TenantsAssociation.runtimeconfig.json
WebApi/TenantsAssociation/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WebApi/TenantsAssociation/obj/project.assets.json
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.cache
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.dgspec.json
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.g.props
WebApi/TenantsAssociation/obj/TenantsAssociation.csproj.nuget.g.targets
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.AssemblyInfo.cs
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.AssemblyInfoInputs.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.assets.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.csproj.FileListAbsolute.txt
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.csprojAssemblyReference.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.dll
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.exe
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.MvcApplicationPartsAssemblyInfo.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.pdb
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/TenantsAssociation.RazorTargetAssemblyInfo.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/staticwebassets/TenantsAssociation.StaticWebAssets.Manifest.cache
WebApi/TenantsAssociation/obj/Debug/netcoreapp3.1/staticwebassets/TenantsAssociation.StaticWebAssets.xml
