<h1 style="text-align: center; margin-bottom: 5vh; font-family: Ubuntu;">
  Dashboard User
</h1>

<!-- News/Unpaid Invoices -->

<div class="flex-container">
  <div class="flex-child magenta">
    <h2><p style="text-align: center;">News</p></h2>

    Există o industrie în care spațiul de stocare (cum ar fi camere, dulapuri,
    containere și / sau spațiu în aer liber), de asemenea , cunoscut sub numele
    de "unități de stocare "este închiriată chiriașilor, de obicei , pe termen
    scurt sau lung în funcție de preferințele chiriașului de spațiu pentru
    depozitare aceștia pot fi întreprinderi și persoane fizice. Industria
    spațiilor pentru depozitare este în deplină creștere, în primul rând
    industria spațiilor de depozitare a Statele Unite ale Americii are la bază:
    58.000 de furnizori spații de depozitare la nivel mondial. În anul 2009, un
    total de 46.000 au fost situate în Statele Unite ale Americii. [1] Experții
    din industrie spun că adesea aceste spații sunt foarte utile atunci când
    chiriașul se muta într-o altă zonă și are nevoie de spațiu pentru a stoca
    elemente (piese de mobilier, echipamente electronice, aparate
    electrocasnice,etc) până când acestea pot fi mutate în noua locație, sau o
    căsătorie ulterioară din care rezultă un cuplu cu elementele duplicate.
    Facilitățile spațiilor de depozitare închiriate pe termen scurt (de multe
    ori o lună la lună, deși opțiunile pentru contractele de leasing pe termen
    lung sunt disponibile) pentru persoane fizice (de obicei, depozitează bunuri
    de uz casnic, aproape toate jurisdicțiile interzic ca spațiul să fie folosit
    ca reședință) sau pentru întreprinderi (de obicei, stocarea în exces de
    inventar sau înregistrări arhivate). Unele facilități oferă cutii,
    încuietori și consumabile de ambalare de vânzare pentru a ajuta chiriașii în
    ambalarea și păstrarea în siguranță a bunurilor acestora, și poate oferi, de
    asemenea, închirieri de camion (sau poate permite folosirea gratuită a unui
    camion pentru un nou chiriaș). Spațiile de închiriat sunt asigurate și
    blocate cu cheia de către chiriaș. Într-un depozit închiriat nu se intră în
    posesia sau controlul asupra conținutului spațiului de către proprietar, cu
    excepția cazului când un drept de gaj este impus pentru neplata chiriei.
    Cererea pentru spații de depozitare rămâne stabilă începând cu T4 2015.
    Sursa pentru auto-depozitare este, de asemenea, relativ stabilă. De multe
    ori, procesul de a construi o nouă clădire de depozitare este costisitor și
    poate dura ani de zile. În plus, această clasă de active specifice devine
    adesea împinge înapoi de la comunități, datorită naturii sale. [2] Sectorul
    de depozitare este extrem de fragmentat, ceea ce este în contrast cu alte
    clase de active în industrie. Aproape 80% dintre spațiile de depozitare sunt
    deținute de către persoane fizice sau investitori mici. Recent,[Când?]
    trusturi de investiții imobiliare (REITs), au demonstrat un apetit
    sănătos[judecată de valoare] pentru această clasă de active.
  </div>

  <div class="flex-child green">
    <h2><p style="text-align: center;">Unpaid Invoices</p></h2>
    <div class="mat-elevation-z8">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="InvoiceNo">
            <th mat-header-cell *matHeaderCellDef>InvoiceNo</th>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        *ngFor="let invoice of invoices"
      >
        <ng-container matColumnDef="InvoiceNo">
          <th mat-header-cell *matHeaderCellDef>{{ invoice.invoiceNumber }}</th>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>{{ invoice.description }}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

<div class="flex-container-pie" style="margin-top: 5vh;">
  <div class="flex-child-pie magenta">
    <!-- Radio-button -->

    <label id="example-radio-group-label"><h3>Last pool:</h3></label>
    <p>Preferred pest control time of arrival</p>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteChoice"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let choice of choice"
        [value]="choice"
      >
        {{ choice }}
      </mat-radio-button>
    </mat-radio-group>
    <div>Your pick: {{ favoriteChoice }}</div>

    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        style="width: 90%; background-color: #673ab7; margin-top: 3vh;"
      >
        Submit answer
      </button>
    </div>
  </div>

  <div class="flex-child-pie green">
    <!-- Pie-chart -->

    <div calss="pie_chart">
      <div style="height: 400px;">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
