<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div fxLayout="column" fxLayoutAlign="center center" class="example-container">
  <div class="example-button-row" style="text-align: left;">
    <button mat-button><b>Login</b></button>
    <button routerLink="/register" mat-button style="color: gray;">
      <b>Register</b>
    </button>
  </div>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email"
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      required
    />

    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Email not valid
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Enter your password"
      [type]="hide ? 'password' : 'text'"
      [formControl]="passwordFormControl"
      required
    />
    <mat-error *ngIf="passwordFormControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="example-button-row">
    <button
      style="width: 90%;"
      (click)="login()"
      mat-raised-button="primary"
      [disabled]="
        emailFormControl.value?.length &lt; 8 ||
        passwordFormControl.value?.length &lt; 8
      "
    >
      <b>Log In</b>
    </button>
  </div>
  <a
    type="button"
    mdbBtn
    floating="true"
    size="lg"
    color="fb"
    class="waves-light"
    mdbWavesEffect
  ></a>
</div>
