<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <mat-toolbar-row>
    <span>Tenants Association</span>
    <span fxFlex></span>
    <button mat-button routerLink="">Dashboard</button>
    <button mat-button routerLink="invoices" *ngIf="!isAdmin()">
      Invoices
    </button>
    <button mat-button routerLink="contact" *ngIf="!isAdmin()">Contact</button>
    <button mat-button routerLink="service" *ngIf="isAdmin()">Services</button>
    <button mat-button routerLink="your-account">Your account</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
