@import "~@angular/material/theming";

.dashboard {
  margin: 5em;
  margin-left: 15em;
  margin-right: 15em;
}
.button {
  margin: 0.3em;
  width: 100%;
  background-color: #d4eef1;
}
#text {
  font-family: Ubuntu;
}
