<h1 class="header" fxLayoutAlign="center" id="text">Dashboard</h1>
<div fxLayout="row" fxLayoutAlign="space-around center" class="dashboard">
  <div fxFlex="60">
    <h2>New Message from</h2>
    <h3>{{ message?.email }}</h3>
    <h3>
      {{ message?.text }}
    </h3>
    <p>{{ dateCreated }}</p>
  </div>
  <div fxLayout="column">
    <div>
      <button
        color="primary"
        class="button"
        mat-raised-button
        (click)="openAddUserDialog()"
      >
        Add User
      </button>
    </div>
    <div>
      <button
        color="primary"
        class="button"
        mat-raised-button
        (click)="openAddInvoiceDialog()"
      >
        Add Invoice
      </button>
    </div>
    <div>
      <button
        color="primary"
        class="button"
        mat-raised-button
        (click)="openAddPoolDialog()"
      >
        Add Pool
      </button>
    </div>
    <div>
      <button
        color="primary"
        class="button"
        mat-raised-button
        (click)="openSendMessageDialog()"
      >
        Send Message
      </button>
    </div>
  </div>
</div>
