<h1 fxLayoutAlign="center" id="text">Dashboard</h1>
<div fxLayout="row" fxLayoutAlign="space-around center" class="dashboard">
  <div fxFlex="60">
    <h3>New Message</h3>
    <p>
      {{ message }}
    </p>
  </div>
  <div fxLayout="column">
    <div>
      <button class="button" mat-raised-button (click)="openAddUserDialog()">
        Add User
      </button>
    </div>
    <div>
      <button class="button" mat-raised-button (click)="openAddInvoiceDialog()">
        Add Invoice
      </button>
    </div>
    <div>
      <button class="button" mat-raised-button (click)="openAddPoolDialog()">
        Add Pool
      </button>
    </div>
    <div>
      <button
        class="button"
        mat-raised-button
        (click)="openSendMessageDialog()"
      >
        Send Message
      </button>
      <div>
        <button class="button" mat-raised-button (click)="openSendNewsDialog()">
          Send news
        </button>
      </div>
    </div>
  </div>
</div>
